
.body {
  font-family: "Georgia", serif; /* Elegant serif font */
  color: #4a5a63;
  line-height: 1.6;
  font-size: 1.1rem;
}

/* Navigation Bar with Flexbox */
.topnav {
  display: flex;
  justify-content: center; /* Center the navigation links */
  align-items: center;
  background: linear-gradient(90deg, #f2faff, #ccdfe8);
  padding: 14px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.topnav a {
  color: #949da8;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px; /* Rounded links */
  margin: 0 15px; /* Ensure spacing between links */
}

.topnav a:hover {
  background-color: #b7c3c9;
  color: #e3f3fc;
}

.topnav a.active {
  background-color: #e1eaf0;
  color: #b7c3c9;
}

/* Centering content */
.home {
  text-align: center;
  margin-top: 30px;
}

/* Container Styles for Squares */
.cuadrado, .cuadrado2, .cuadrado3, .cuadrado4, .cuadrado5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black;
  border-radius: 15px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cuadrado:hover, .cuadrado2:hover, .cuadrado3:hover, .cuadrado4:hover, .cuadrado5:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Background Color Classes */
.azul {
  background-color: #afcddb;
}

.SAME {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Heading Styles */
.Background h3 {
  font-family: "Georgia", serif; /* Elegant font for subheadings */
  color: #5f6368;
  margin-bottom: 20px;
}

/* Title Styles */
.TITLE {
  text-align: center;
  font-size: 3rem; 
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #4a5a63;
  margin-bottom: 30px;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #d1dde2;
  padding: 10px;
  text-align: left;
  background-color: #ccdfe8;
  color: #788b94;
  font-family: "Georgia", serif; /* Elegant font for table headers */
  font-size: 1.1rem;
}

td {
  border: 1px solid #d1dde2;
  padding: 10px;
  text-align: left;
  background-color: #e4eff5;
  font-family: "Georgia", serif; /* Elegant font for table content */
  font-size: 1.0rem;
  color: #8ca0ab;
}

/* Centering Video Section */
.VIDEO {
  text-align: center;
  margin-top: 40px;
}

/* Image Styling */
.img {
  text-align: center;
  margin-top: 20px;
}

.subtitle {
    font-family: "Lucida Console", "Courier New", monospace;
}

        
          


